{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMS Leasing</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'app/css/bike_list_view.css' %}">
</head>

<body>
    <!-- Brand -->
    
    <h1 id="brand">Motorcycle Rental</h1>
    <h2 id="paragraph_title">Bike Categories</h2>
    <!-- Main Content -->
    <div class="content">
        {% for bike_category, bike_url in bike_list %}
        <div class="bike">
            <a href="{{bike_url}}">
                <img
                    src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

                <h2>{{bike_category}}</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi</p>
            </a>
        </div>
        {% endfor %}



    </div>
</body>

</html>