{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Details</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'app/css/bike_detail_view.css' %}">

</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Bike Image -->
        <div class="image">
            <img
                src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>

        <!-- Bike Details -->
        <div class="bike">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'app:BikeListView' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 2: Bike Information -->
            <div class="bike-info">
                <h1>{{bike_category}} Bikes</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id optio rem saepe culpa architecto tempora
                    numquam debitis reiciendis! Quaerat laudantium consequuntur doloribus quod placeat consectetur
                    veniam,
                    rerum repellendus magnam labore. </p>
            </div>

            <!-- Div 3: Bike Booking Form -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %}
                <h2>Are you sure you want to cancel this booking?</h2>
                <h3>{{booking.bike.plate_no}} {{booking.get_bike_category}}</h3>
                <h3>{{booking}}</h3>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="cancel">Cancel Booking</button>
                </div>

            </form>

        </div> <!-- END Bike Div -->

    </div> <!-- END Main Content Div -->

</body>

</html>